* {
    box-sizing: border-box;
    font-weight: 5px;
}

.OflHomeButton {
    color: #FFF; 
    display: inline-block;
}


.OflHeader {
    background-color: #8B4513;
    position: relative;
    text-align: center;
    width: 100%;   
    left: 0;
    color: #FFF;
    font-weight: 600px;
}

.OflFooter {
    background-color: #8B4513;
    text-align: center;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    color: #FFF;
    font-weight: 600px;
}

/*Boostsrap Overrides for Order Form*/

#HomeButton {
    color: black;
}

#landingLink {
    color: black;
}

#vendor {
    height: 20px;
}

    #vendor[placeholder] {
        line-height: 20px;
        font-size: 12px;
    }

#quantity {
    height: 20px;
}

    #quantity[placeholder] {
        line-height: 20px;
        font-size: 12px;
    }

#product_name {
    height: 20px;
}

    #product_name[placeholder] {
        line-height: 20px;
        font-size: 12px;
    }

#catalog_number {
    height: 20px;
}

    #catalog_number[placeholder] {
        line-height: 20px;
        font-size: 12px;
    }

#unit_size {
    height: 20px;
}

    #unit_size[placeholder] {
        line-height: 20px;
        font-size: 12px;
    }
#units {
    height: 20px;
}

    #units[placeholder] {
        line-height: 20px;
        font-size: 12px;
    }

#action_submit {
    height: 20px;
    font-size: 12px;
}




#ofl_body {
    color: black;
}

#order_form_header {
    text-align: center;
}

.par_desc {
    padding: 20px;
    font-size: 30px;
}

/*landing page main button*/
.mainButton {
    font-size: 33px;
}

#landing_head {
    text-align: center;
    font-size: 39px;
}

.example_entry.onBackOrder {
    color: #FF4500; 
    background-color: aqua;
    border-color: white;    
}

#CapstoneDescription {
    color: black;
    text-align: center;
    margin-top: 80px;
}

form label {
    color: black;
    display: inline-block;
    width: 200px;
}

form .order_cells {
    display: inline-block;
}

h1 {
    color: black;
}

.submit_button {
    margin: auto;
    text-align: center;
    padding: 10px;
}

body {
    background-color: #F6D155;
    font-size: 1.6em;
}


.example_entry {
    color: black;
    border-style: solid;
    /*border-color: black;*/
    text-align: left;
    background-color: white;
}


    /* mouse over link */
    .example_entry:hover {
        color: #223A5E;
    }


/*for landing page*/
ul {
    list-style-type: none;
}

li {
    width: 100%;
    text-align: center;
}
